doctype html
html(lang='en')
  head
    title sox demo
    meta(charset='utf-8')
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport')
    link(rel='stylesheet' type='text/css' href='/dist/index.css')
    script(type='text/javascript' src='/dist/index.js' defer)
  body
    #root
